<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PRODUCTS</title>
  </head>
  <body>
    <ul>
        <% rows.forEach((r) => { %> 
            <li><%= r.id %></li>
        <% }); %>
    </ul>
  </body>
</html>
